body {
    background-color: rgb(255, 137, 143);
}

li a {
    padding: 10px;
    text-decoration: none; 
    color: black;     
    
}

ul {
    list-style-type: none;
    display: flex;
    color: black ;
    
           
}

form, div {
    background-color:white;
    border-radius: 10px;
    border-color: black;
    border-style: dotted;
    border-width: 0.5mm;
    margin: 5px;
    padding: 5px;
    text-decoration: rgb(255, 137, 143);
    
}



form, input, textarea {
    border-radius: 10px;
    border-width: 0.5mm;
    text-align: center;
      
}

input {
    width: 50%;
    
}



button {
    border-radius: 4px;
    background-color: rgb(255, 137, 143);
    width: 100px;
    height: auto;
}

button:hover, li a:hover {
    background-color: grey;

}

legend {
    font-size: 40px;
    text-align: center;
    color: rgb(255, 137, 143);
    border: rgb(255, 137, 143);
    text-decoration: underline;
}

h3 {
    color: rgb(255, 137, 143);
    text-align: center;
    text-decoration: underline;
    
}

a img {
    width: auto;
    height: 50px;
            
}

.clFooter {
    width: 100%;
    text-align: center;
    
}

#idFooter {
    display: flex;
    background-color: white;
    border-style: dotted;
    border-width: 0.5mm;
    padding: 0;
    border: 0;
    margin: 0;
    text-align: justify;
    
}



li a{
    padding: 10px;
    text-decoration: none;  
    color: black;     
}

li a:hover, button:hover {
    background-color: grey;
} 

ul {
    list-style-type: none;
    display: flex;
    color: black;              
}

div {
    background-color:white;
    border-radius: 10px;
    border-color: black;
    border-style: dotted;
    border-width: 0.5mm;
    margin: 5px;
    padding: 5px;
}

h3 {
    color: rgb(255, 137, 143);
    text-align: center;
    text-decoration: underline;        
}

a img {
    width: auto;
    height: 50px;                
}

#idMain, #idFooter {
    display: flex;
    background-color: rgb(255, 137, 143);
    border-style: none;
    padding: 0;
    border: 0;
    margin: 0;
    text-align: justify;    
}

.clFooter {
    width: 100%;
    text-align: center;
}

#idFooter {
    display: flex;
    background-color: white;
    border-style: dotted;
    border-width: 0.5mm;
    padding: 0;
    border: 0;
    margin: 0;
    text-align: justify;
}

body {
    background-color: rgb(255, 137, 143);
}

h1 {
    text-align: center;
    
}

li a {
    padding: 10px;
    text-decoration: none; 
    color: black;     
    
}

ul {
    list-style-type: none;
    display: flex;
    color: black ;
    
           
}

div {
    background-color:white;
    border-radius: 10px;
    border-color: black;
    border-style: dotted;
    border-width: 0.5mm;
    margin: 5px;
    padding: 5px;
    text-decoration: rgb(255, 137, 143);
    
}

button:hover, li a:hover {
    background-color: grey;

}

h3 {
    color: rgb(255, 137, 143);
    text-align: center;
    text-decoration: underline;
    
}

a img {
    width: auto;
    height: 50px;
            
}

.clFooter {
    width: 100%;
    text-align: center;
    
}

#idFooter {
    display: flex;
    background-color: white;
    border-style: dotted;
    border-width: 0.5mm;
    padding: 0;
    border: 0;
    margin: 0;
    text-align: justify;
    
}

#idNews{
    height: 150px;
    width: auto;
    display: block;
    margin: auto;
        
}